* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
/* a{
  text-decoration: none;
} */
/*============================
      LOGIN AND REGISTER
==============================*/
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #B0BEC5;
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;  
}
.logo-container img {
  width: 70px;
  height: 70px;
}
.logo-text {
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  color: #212B42;
}
