* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;  
  height: 100%;
}

a{
  text-decoration: none;
}

#root {
  height: 100%;
}
/*============================
      LOGIN AND REGISTER
==============================*/
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;  
}
.logo-container img {
  width: 70px;
  height: 70px;
}
.logo-text {
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  color: #212B42;
}
